<section class="content">
  <header class="content-header">
    <h1 class="page-title">Edit Partner Split</h1>
  </header>

  <div class="content-body">
    <section class="card">
      <.split_form changeset={@changeset} action={@action} partner_options={@partner_options} domain_path_prefix={@domain_path_prefix} />
    </section>
  </div>
</section>
